## Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [75]:
import math
def cost_of_trip(cities,duration_of_trip_per_day=0,budget=0):
    
    total_cost = [0]* len(cities) # [0,0,0,0]
#     print(total_cost)
    i = 0
    
    
    if budget==0:
        for city in cities:
            total_cost[i] = (city['return_flight'] + city['hotel_rate']*duration_of_trip_per_day +  
                             city['car_rental_rate']*math.ceil(duration_of_trip_per_day/7))
            i=i+1

#If we want to spend minimum money on 7-days trip
        print(total_cost)
        cost = min(total_cost)
        index = total_cost.index(cost)
        print(cost,cities[index]["city_name"])
        print("\n Spend Minimum prices on '{}' days trip.You can visit '{}',just cost ${} for trip.".format(duration_of_trip_per_day,cities[index]["city_name"],cost))
        
    else:
    
        duration_of_trip_per_day = [1]* len(cities)  # one day trip atleast that [1]*4=[1,1,1,1]
        
        for city in cities:
            while True: 
                total_cost[i] = (city['return_flight'] + city['hotel_rate']*duration_of_trip_per_day[i] +
                                 city['car_rental_rate']*math.ceil(duration_of_trip_per_day[i]/7))
                
                if total_cost[i] > budget:
                    duration_of_trip_per_day[i]-=1
                    
#                     total_cost[i] = (city['return_flight'] + city['hotel_rate']*(duration_of_trip_per_day[i]) + 
#                                      city['car_rental_rate']*math.ceil(duration_of_trip_per_day[i]/7))
                    break
                   
                else:
                     duration_of_trip_per_day[i] += 1
            i += 1
            
# For long outing in budget
        maxi_days = max(duration_of_trip_per_day)
    
        if maxi_days==0:
            print("\nFor budget ${} Sorry!! you cant visit anywhere ".format(budget))
        else:
    
            index_max = duration_of_trip_per_day.index(maxi_days)

            print("\nFor budget ${} ".format(budget))
            print("You should visit '{}' , for '{}' days, costing ${} (Max Days)".format(cities[index_max]["city_name"],
                                                                                         maxi_days,total_cost[index_max]))

# For short outing in budget
            mini_days = min(duration_of_trip_per_day)
            index_min = duration_of_trip_per_day.index(mini_days)
            print("You should visit '{}' , for '{}' days, costing ${} (Min Days)".format(cities[index_min]["city_name"],mini_days,total_cost[index_min]))
        
    
places=[{'city_name' : "Paris",'return_flight' : 200,'hotel_rate' : 20, 'car_rental_rate' : 200},
        {'city_name' : "London",'return_flight' : 250,'hotel_rate' : 30, 'car_rental_rate' : 120},
        {'city_name' : "Dubai",'return_flight' : 370,'hotel_rate' : 15, 'car_rental_rate' : 80},
        {'city_name' : "Mumbai",'return_flight' : 450,'hotel_rate' : 10, 'car_rental_rate' : 70}]

In [76]:
cost_of_trip(cities=places,duration_of_trip_per_day=7)

[540, 580, 555, 590]
540 Paris

 Spend Minimum prices on '7' days trip.You can visit 'Paris',just cost $540 for trip.

In [83]:
print("******************************duration of trip 4 days************************************")
cost_of_trip(cities=places,duration_of_trip_per_day=4)

print("******************************duration of trip 10**************************************")
cost_of_trip(cities=places,duration_of_trip_per_day=10)

print("******************************duration of trip 14 days(2week)************************************")
cost_of_trip(cities=places,duration_of_trip_per_day=14)

******************************duration of trip 4 days************************************
[480, 490, 510, 560]
480 Paris

 Spend Minimum prices on '4' days trip.You can visit 'Paris',just cost $480 for trip.
******************************duration of trip 10**************************************
[800, 790, 680, 690]
680 Dubai

 Spend Minimum prices on '10' days trip.You can visit 'Dubai',just cost $680 for trip.
******************************duration of trip 14 days(2week)************************************
[880, 910, 740, 730]
730 Mumbai

 Spend Minimum prices on '14' days trip.You can visit 'Mumbai',just cost $730 for trip.

In [78]:
cost_of_trip(cities=places,budget=50)

For budget $50 Sorry!! you cant visit anywhere

In [74]:
print("********************************budget of trip is $600****************************")
cost_of_trip(cities=places,budget=600) 

print("********************************budget of trip is $2000****************************")
cost_of_trip(cities=places,budget=2000) 

print("********************************budget of trip is $1500****************************")
cost_of_trip(cities=places,budget=1500)

********************************budget of trip is $600****************************

For budget $600
You should visit 'Paris' , for '7' days, costing $760 (Max Days)
You should visit 'Paris' , for '7' days, costing $760 (Min Days)
********************************budget of trip is $2000****************************

For budget $2000
You should visit 'Mumbai' , for '77' days, costing $2070 (Max Days)
You should visit 'Paris' , for '35' days, costing $2120 (Min Days)
********************************budget of trip is $1500****************************

For budget $1500
You should visit 'Mumbai' , for '49' days, costing $1510 (Max Days)
You should visit 'Paris' , for '25' days, costing $1520 (Min Days)

In [34]:
[0]* 4

[0, 0, 0, 0]

In [35]:
[1]*4

[1, 1, 1, 1]

In [84]:
if {None: None}:
    print("Well Done!")
else:
    print("Wrong")

Well Done!

In [85]:
a=5
'Even' if a % 2 == 0 else 'Odd'

'Odd'

In [86]:
'Odd' if a % 2 != 0 else 'Even'

'Odd'

In [87]:
if not a%2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [ ]:
result = 1
i = 1

while i <= 100:
    result = result * i
print(result)

In [89]:
i = 1
j = 0
while 1:
    i+=1
    if i%2 == 0:
        continue
    j+=1
    if i > 10:
        break
c = i + j*2
print(c)

21

In [90]:
li=[4,8,9]

In [91]:
from functools import reduce
print(reduce(lambda x,y : x+y,li))

21

In [92]:
from operator import add
from itertools import accumulate
print(list(accumulate(li,add))[-1])

21

In [94]:
li.sum()

AttributeError: 'list' object has no attribute 'sum'

In [96]:
def summation(li):
    val = 0
    for i in li:
        val += i
    return val
print(summation(li))

21

In [97]:
def make_multiplier(n):
    def multiplier(x,y):
        return x * n + y
    return multiplier

num1 = make_multiplier(6)
num2 = make_multiplier(9)

print(num1(2,5))
print(num2(5,5))
print(num2(num2(3,3),num1(5,10)))

17
50
310

In [98]:
num1(2,5)

17

In [99]:
make_multiplier(17)

In [103]:
li = [[(i+1) for i in range(5)] for j in range(5)]
for line in li:
    print(*line[::-1])

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [101]:
li

[[1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5],
 [1, 2, 3, 4, 5]]

In [104]:
print(type(True / True))
print(False / True)
print(type(5 // 2))
print(type(False // False))
print(type(124 / 2))
print(type(5.3 // 2))

<class 'float'>
0.0
<class 'int'>

ZeroDivisionError: integer division or modulo by zero

In [106]:
def func(x):
    return x%2 == 0

li = [2,9,5,10,11,34,57,66,93,102]
li = list(map(func,li))
print(sum(li))
li

5

[True, False, False, True, False, True, False, True, False, True]

In [108]:
for i in range(1,10):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9

In [110]:
i = 1
while i<= 10:
    print(i,end = " ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [112]:
star_list = ""
for i in range(5):
    star_list += " *"
    print(" "*(4-i),star_list)

      *
     * *
    * * *
   * * * *
  * * * * *

In [113]:
i = 100 
while i != 0:
    print(101-i)
    i-=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [114]:
for i in range(1,1000):
    if i>100:
        break
    else:
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [2]:

a = 2
b = 10
c = 20
a * b + (c ** a // b - b)

50

In [5]:
num = 35   # Line 1 
if num==10 and num<20:   # Line 2 
    print("Between 10 and 20")    # Line 3
else :   # Line 4
    print("Greater Than 20")    # Line 5

Greater Than 20

In [20]:
# variable age between 18(included) and 60(excluded)
age=21
if 18 <= age < 60:
    print("ggg")

ggg

In [21]:
"michigan" < "oxford" < "stanford"

True

In [22]:
True + False

1

In [23]:
True * False

0

In [24]:
(False and True), (False or True), (not True or not False)

(False, True, True)

In [25]:
age = 21
if age > 3: 
    print("Children")
elif age > 16:
    print("High School Student")
if age > 18:
    print("Voting Age")
if age > 20:
    print("Passed Teenage")
elif age == 21:
    print("Adult")
if age > 30:
    print("Middle Adulthood")
elif age > 45:
    print("Late Adulthood")
else:
    print("Adulthood")
if age>60:
    print("Old Age")
else:
    print("Life Cycle")

Children
Voting Age
Passed Teenage
Adulthood
Life Cycle

In [27]:
(13 * 5 + 65)//10

13

In [28]:
a=45.8655
print("%.2f"%a)

45.87

In [29]:
print("%.2f",a)

%.2f 45.8655

In [31]:
# print("{%.2f}".format(a))
print("{:.2f}".format(a))

45.87

In [32]:
True or False and False

True